* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1128px;
  margin: 0 auto;
}

.back-link {
  margin: 10px 0 0 10px;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  background-color: darkorchid;
  border: 1px solid black;
  border-radius: 8px;
}

.back-link:hover {
  background-color: purple;
}

.back-link a {
  color: #ffff;
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}

.gallery-item {
  flex: 1 1 360px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.sl-wrapper {
  background-color: #2e2f42cc;
}

.sl-counter,
.sl-close,
.sl-prev,
.sl-next {
  color: #ffff !important;
}
